.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background-color: #242424;
}

.sidebar {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  background: #2a2a2a;
  padding: 24px;
  color: white;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  height: 100vh;
  top: 0;
  left: 0;
}

/* Styles du sidebar */
.sidebar-header {
  margin-bottom: 40px;
  padding: 0 12px;
}

.sidebar-header h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  color: white;
}

/* Navigation du sidebar */
.sidebar-nav {
  position: sticky;
  top: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  padding: 16px 20px;
  margin: 8px 0;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(5px);
  }
  
  .sidebar-item.active {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(5px);
    border-left: 4px solid #3498DB;
  }

/* Styles du contenu principal */
.dashboard-content {
  flex: 1;
  padding: 32px;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  overflow-y: auto;
  min-width: 0;
}

.dashboard-container {
  background-color: #1a1a1a;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styles des bounties */

.new-bounty-button {
  background-color: #646cff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.bounties-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bounty-form {
  background-color: #2a2a2a;
  padding: 32px;
  border-radius: 16px;
  margin-bottom: 24px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Styles des soumissions */
.submits-container {
  margin-top: 24px;
  padding: 24px;
  border-top: 2px solid #444;
  border-radius: 12px;
  background-color: #2a2a2a;
}

.submit-item {
  background-color: #333;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 16px;
}

/* Boutons d'action */
.submit-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}

.approve-button,
.reject-button {
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 500;
  border: none;
}

.approve-button {
  background-color: #4CAF50;
  color: white;
}

.reject-button {
  background-color: #F44336;
  color: white;
}
